albumentations
boto3
botocore
coremltools
gTTS
ipython
keras
matplotlib
numpy
onnxruntime
openai
opencv_python
packaging
pafy
pandas
Pillow
playsound
PyYAML
requests
scipy
seaborn
setuptools
sounddevice
stability_sdk
tflite
thop
torch
torchvision
tqdm
train